@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #1f2d3d;
}

body {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #1f2d3d;
}


.header { 
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:nowrap;
  width: 100%; 
  padding: 12px 56px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.header h1 {
    position: relative;
    top: 1px;
}

.input-group {
  display : flex;
  flex-direction:row;
  justify-items:flex-start;
  flex-basis: 800px;
}

.input-group input{
  flex-basis:90%;
  border-right:0;
}

.input-group button{
  flex-basis:10%;
  border-left:0;
}
