/* * {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;
  
  }
  
  body {
    background-color:black;
  }
  
  .joinForm {
    position:absolute;
    width:350px;
    height:600px;
    background-color:darkgrey;
    text-align:center;
    padding:20px 10px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
  }
  
  .joinForm h1 {
    text-align: center;
    margin: 30px;
  }
  
  .textForm {
    border-bottom: 2px solid black;
    margin: 30px;
    padding: 10px 10px;
  }
  
  
  .id {
    width: 70%;
    border:none;
    outline:none;
    color: #0083b2;
    font-size:16px;
    height:25px;
    background: none;
  }

  .check{
    width:30%;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .name {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .nickname {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .cellphoneNo {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }
  
  .btn {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  .btn:hover {
    background-position: right;
  } */

  *{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }

  .main-header{
    display:block;
  }

#logo {
    width:30px;
    height:30px;
    
}

.container{
    position:absolute;
    width:350px;
    height:500px;
    top:50%;
    left:50%;
    padding: 20px 10px;
    transform: translate(-50%,-50%);
    background-color: darkgray;
    border-radius:15px;
    display:flex;
    flex-direction:column;
}
.joinForm{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.textForm{
    width:200px;
    height:60px;
}

#tokenCheck{
    display:none;
}